@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50;

  --swiper-navigation-size: 16px;
  --swiper-navigation-top-offset: 45%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: black;
}

.swiper-button-prev {
  background-color: white;
  padding: 1rem;
  border-radius: 9999px;
  box-shadow: 0 0 8px 0 black;
}
.swiper-button-next {
  background-color: white;
  padding: 1rem;
  border-radius: 9999px;
  box-shadow: 0 0 8px 0 black;
}
